{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Posts {% endblock %}</h1>
    {% for post in posts %}
        <div class='post'>
            <span>{{ post['created'] }}</span>
            <span>{{ post['content'] }}</span>
        </div>
    {% endfor %}
    <h1>{% block input_title %} Add a New Post {% endblock %}</h1>
    <form method="post">
        <textarea name="content"
                  placeholder="Post content"
                  rows="2"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}